.display {
  width: 800px;
  /* height: 335px; */
  height: 265px;
  background-color: #111;
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
  color: #eee;
}
.screen {
  width: 775px;
  height: 220px;
  background-color: #eee;
  margin: auto;
  padding: 10px;
  color: #111;
  border: 1px solid #111;
  font-size: 17px;
  font-weight: 600;
}
.hinge {
  height: 10px;
  width: 700px;
  background-color: #000;
  margin: auto;
}
.redFrame {
  box-shadow: inset 0px 0px 16px 2px rgb(255, 0, 0);
}
.greenFrame {
  box-shadow: inset 0px 0px 16px 2px rgb(0, 255, 0);
}
.yellowFrame {
  box-shadow: inset 0px 0px 16px 2px rgb(255, 238, 0);
}

a {
  color: whitesmoke;
}
